@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #f1e4fc;

    font-family: "Roboto";
    text-align: center;
}

body header {
    background: #786886;
    padding: 30px;

    text-align: center;
}

body header a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

body header a+a {
    margin-left: 30px;
}

body header a:hover {
    color: #f1e4fc;
    text-decoration: underline;
}

#wrapper .logo {
    height: 160px;
    border-radius: 50%;
    border: 3px solid #1cbd44;

    margin-top: 32px;
}

#wrapper h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 25px;
}

#wrapper h2 {
    font-size: 18px;
    font-weight: 400;

    max-width: 600px;
    margin: 25px auto;
}

#wrapper ul {
    font-weight: 400;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper ul li+li {
    margin-left: 20px;
}

#wrapper #socials {
    margin: 32px;
}

#wrapper #socials a+a {
    margin-left: 15px
}

#wrapper #socials a img {
    height: 30px;
}

#wrapper #socials a img:hover {
    transform: scale(1.4, 1.4)
}